.contact-me {
    background: linear-gradient(-1100deg, #fdcd3b 60%, #ffed4b 60%);    
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.profile-photo-2-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-details {
    display: flex;
    flex-direction: column;
    align-content: start;
}

.profile-photo-2 {
    height: auto;
    width: 450px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

.phone {
    display: flex;
}

.email {
    display: flex;
}

.social-media-links-in-contact-section {
    justify-content: start;
    padding: 0;
}

@media (max-width:768px) {
    .profile-photo-2 {
        width: 350px;
    }

    .contact-me {
        margin: 0;
    }

    .social-media-links-in-contact-section {
        display: flex;
    }
}