.my-work-header {
    padding-left: 1rem;
}

.my-work ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 768px) {

    .my-work ul {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}